.app {
  min-height: 100vh;
  width: 100vw;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  color: #d8d8d8;
  background-color: black;
  position: relative;
}

header {
  font-family: 'Raleway', sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  /* mobile viewport bug fix */
  max-width: -webkit-fill-available;
  padding: 8% 20px;
  background: -moz-linear-gradient(top, rgba(0,0,0,.95) 55%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,.95) 55%, rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,.95) 55%, rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

h1, 
h2, 
h3,
h4 {
  font-weight: 200;
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2,
h3,
h4 {
  font-size: 1.2em;
  display: inline-block;
}

h4 {
  font-weight: 400;
}

.loading-container {
  position: absolute;  
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.dot {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background-color: #a346d4;
  opacity: 1;
  left: -110px;
}

.subtitle {
  margin: 1.3em 0;
}

.pipe {
  display: inline-block;
  margin: 0 10px;
}


.logos-container i {
  font-size: 2em;
  margin-right: 1em;
}

.logos-container a {
  color: #d8d8d8;
}

.logos-container a:hover {
  color: #ca68fd;
}

.main-image {
  background-image: url('./merida-mexico-color-full-bw.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center; 
  height: 100vh;
  margin: 0;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

@media screen and (min-width: 769px) {
  h1 {
    font-size: 2.8em;
  }

  h2,
  h3,
  h4 {
    font-size: 1.3em;
  }

  .find-me {
    display: block;
  }
}